
@{
    ViewBag.Title = "Listado de reportes";
}

<h2>Listado de reportes</h2>

@Html.ActionLink("Reporte de Clientes", "Reporte", "Reportes", null, new { @class = "btn btn-default"})

@Html.ActionLink("Reporte de Detalle de ventas", "Reporte1", "Reportes", null, new { @class = "btn btn-default" })

@Html.ActionLink("Reporte de Empleados", "Reporte2", "Reportes", null, new { @class = "btn btn-default" })

@Html.ActionLink("Reporte de Inventario", "Reporte3", "Reportes", null, new { @class = "btn btn-default" })

@Html.ActionLink("Reporte de Productos", "Reporte4", "Reportes", null, new { @class = "btn btn-default" })

@Html.ActionLink("Reporte de Ventas", "Reporte5", "Reportes", null, new { @class = "btn btn-default" })