@model GameOfBreak.Models.GoB.Clasificacion

@{
    var nombre = Model.ID_CLASIFICACION != 0 ? Model.Clasificacion1 : "Nueva clasificación";

    ViewBag.Title = nombre;
}

<h2>@nombre</h2>

@using (Html.BeginForm("GuardarClasificacion", "ProductoDetalle")) {

    @Html.AntiForgeryToken()

    @Html.HiddenFor(clas => clas.ID_CLASIFICACION)

    <div class="form-group">
        @Html.LabelFor(clas => clas.Clasificacion1)
        @Html.TextBoxFor(clas => clas.Clasificacion1, new { @class = "form-control" })
        @Html.ValidationMessageFor(clas => clas.Clasificacion1)
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>

}

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

}